:root {
    --color-red: red;
    --color-white: white;
}

body {
    background-color: red;
}

.container {
    background-color: var(--color-white);
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 500px;
    height: 550px;
    border-radius: 15px;
    text-align: center;
    padding-top: 10px;
}

#yes {
    height: 40px;
    width: 60px;
    background-color: var(--color-red);
    border: 2px solid var(--color-white);
    border-radius: 10px;
    color: var(--color-white);
    margin-left: -50px;
}

#no {
    position: absolute;
    height: 40px;
    width: 60px;
    background-color: var(--color-red);
    border: 2px solid var(--color-white);
    border-radius: 10px;
    color: var(--color-white);
    margin-left: 10px;

}

@media screen and (max-width: 500px) {
    .container {
        width: 80%;
        height: 100%;
    }

    h1 , h2 {
        font-size: 1em;
    }
    
}
